* {
  padding: 0;
  margin: 0;
  width: 80%;
  margin: auto;
}
input,
button {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  display: block;
  margin: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
button {
  border: 0;
  cursor: pointer;
}
.group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.pError {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

th,
td {
  padding: 20px;
}

.pNameError,
.pNameLengthError,
.pAgeError,
.pAgeLengthError,
.pAgeTextError {
  display: none;
  color: red;
  font-weight: 900;
}

.table {
  display: none;
}

p {
  font-size: 25px;
  color: red;
  display: none;
}
